body {
	font-family: sans-serif;
	background: url(/static/img/debut_dark.png) #333;
	line-height: 20px;
}

.webfx-tree-container {
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
}

.webfx-tree-item {
	padding: 0px;
	margin: 0px;
	font: icon;
	color: WindowText;
	white-space: nowrap;
	height: 16px;
}

.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 0px 2px 1px 2px;
}

.webfx-tree-item a {
	color: #fff;
	text-decoration: none;
}

.webfx-tree-item a:hover {
	color: #888;
}

.webfx-tree-item a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon {
	width: 16px;
	height: 16px;
}



.p1 {
	text-align: left;
	font-size: 14px;
	color: #fff;
	margin: 5px 0;
	padding: 10px;
}

.head_btn {
	display: inline-block;
	background: #000;
	padding: 10px 15px;
	border-bottom: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	font-size: 9px;color: #fff;
	text-align: center;
}

.head_btn:hover {background: #555;cursor: pointer}

.jpg_shadow {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.2);
}

.img_shadow {
	-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);
}

.img_shadow_active {
	-webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.65);
	-moz-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.65);
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.65);
}

.inp_date {
	
	color: #f0f0f0;
	background: #000;
	border: 1px solid #444;
	padding: 7px 10px;
	width: 100px

}

.file {
	margin-top: 1px;
	padding: 1px 3px;
	cursor: pointer;
	word-wrap: break-word;
}

.file:hover {background: #444}

.active {
	background: green;
}

.inactive {
	background: #000;
}

