body {
	font-family: sans-serif;
	background: #303030;
	line-height: 20px;
}

.webfx-tree-container {
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
}

.webfx-tree-item {
	padding: 0px;
	margin: 0px;
	font: icon;
	color: WindowText;
	white-space: nowrap;
	height: 16px;
}

.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 0px 2px 1px 2px;
}

.webfx-tree-item a {
	color: #fff;
	text-decoration: none;
}

.webfx-tree-item a:hover {
	color: #888;
}

.webfx-tree-item a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon {
	width: 16px;
	height: 16px;
}

.p1 {
	text-align: left;
	font-size: 14px;
	color: #fff;
	margin: 5px 0;
	padding: 10px;
}

.head_btn {
	display: inline-block;
	background: url(/static/img/wild_oliva.png);
	padding: 15px 15px;
	border-bottom: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	font-size: 9px;color: #fff;
	text-align: center;
}

.head_btn:hover {background: #555;cursor: pointer}

.jpg_shadow {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.2);
}

.img_shadow {
	-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.65);
}

.img_shadow_active {
	-webkit-box-shadow: 0px 0px 30px rgba(255, 255, 0, 0.65);
	-moz-box-shadow: 0px 0px 30px rgba(255, 255, 0, 0.65);
	box-shadow: 0px 0px 30px rgba(255, 255, 0, 0.65);
}

.img_shadow_active {
	-webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.65);
	-moz-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.65);
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.65);
}

.inp_date {
	color: #f0f0f0;
	background: #303030;
	border: 1px solid #555;
	padding: 8px 11px;
	width: 100px;
}

.filt {
	margin-top: 1px;
	padding: 1px 3px;
	cursor: pointer;
	word-wrap: break-word;
}

.filt:hover {background: #444}

.f-active {
	background: green;
}

.f-inactive {
	background: #202020;
}


.file {
	margin-top: 1px;
	padding: 1px 3px;
	cursor: pointer;
	word-wrap: break-word;
	padding-left: 30px;
}

.file:hover {background: url(/static/img/jpg.png) no-repeat #444}

.active {
	background: url(/static/img/jpg.png) no-repeat green;
}

.inactive {
	background: url(/static/img/jpg.png) no-repeat #202020;
}

table, td, tr, thead, tfoot, tbody, th {margin: 0px;padding: 0px;border-collapse: collapse;border: 0}

.marker {
	width: 17px;
	height: 17px;
	background: url(/static/img/mark_checkbox.png) left top no-repeat;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}

.tab {
	border: 1px solid #444;
	color: #fff;
	border-bottom: 0;
	color: #fff;
	padding: 7px;
	cursor: pointer;
}

.tab-active {background: #444}
.tab-inactive {background: #202020}

.thumb {
	display: inline-block;
	position: relative;
	margin: 4px;
	cursor: pointer;
}

.minimal {
	background: #e3e3e3;
	border: 1px solid #bbb;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	padding: 8px 0 9px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 150px;
}

.minimal:hover {
	background: #d9d9d9;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #202020;
	cursor: pointer; 
}

.minimal:active {
	background: #d0d0d0;
	-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
	color: #202020; 
}

.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px;
}

.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}

.cupid-green {
	background-color: #7fbf4d;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
	background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: linear-gradient(top, #7fbf4d, #63a62f);
	border: 1px solid #63a62f;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #96ca6d;
	color: #fff;
	font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 7px 0 8px 0;
	text-align: center;
	text-shadow: 0 -1px 0 #4c9021;
	width: 150px;
}

.cupid-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
	background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
	box-shadow: inset 0 1px 0 0 #8dbf67;
	cursor: pointer;
}

.cupid-green:active {
	border: 1px solid #5b992b;
	border-bottom: 1px solid #538c27;
	-webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}

.main_font {
	font-family: 'Racing Sans One', cursive;
}

.map1-div {
	height: 490px;
	width: 100%;
	position: relative;
	overflow: auto;
	display: none;
}

.dragdealer {
	position: relative;
	height: 30px;
	background: #ccc;
}

.dragdealer .handle {
	position: absolute;
	cursor: pointer;
}

.dragdealer .red-bar {
	width: 100px;
	height: 30px;
	background: #CC0000;
	color: #FFF;
	line-height: 30px;
	text-align: center;
}

.dragdealer .disabled {
	background: #898989;
}

.non-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 5000;
	zoom: 1;
}

.jpg-icon {
	
}

.hat {
	background: url(/static/img/bg-panel-header.gif) left bottom repeat-x #464646;
	color: #fff;
	padding: 7px;
	cursor: pointer;
	border: 1px solid #2e2e2e;
}

.underhat {
	border-bottom: 1px solid #444;
	border-right: 1px solid #2e2e2e;
	border-left: 1px solid #2e2e2e;
	border-top: 1px solid #444;
}

#thumb-panel:hover {background: #111}

/* Start Button Styles --------------------------------------------- */
input[type="button"],
button { border:0 none; font:inherit; }
*:focus { outline:0 none; }
input[type="submit"] { border:1px solid rgba(0, 0, 0, 0.25); }
input[type="button"],
button { -moz-box-sizing: content-box; }/*fixes mozilla padding - mozilla only, doesn't need webkit or other values */
input[type="button"]::-moz-focus-inner, button::-moz-focus-inner { padding:0; border:0 none;}/*fixes mozilla button padding - mozilla only, doesn't need webkit or other values */
/* General Button Styles, Cascades Down To Every Button ------------- */
.tsc_button { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); background:#222222 url(../images/button-overlay.png) repeat-x; border:1px solid rgba(0, 0, 0, 0.25); color:#FFFFFF !important; cursor:pointer; display:inline-block; font-size:13px; font-weight:bold; line-height:1; overflow:visible; padding:5px 15px 6px; position:relative; text-decoration:none; text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25); width:auto; text-align:center; }
.tsc_button:hover { background:#111111; color:#FFFFFF; }
.tsc_button:active { background:#242424; }
.tsc_c3b_green.tsc_button { background-color:#91BD09; }
.tsc_c3b_green.tsc_button:hover { background-color:#749A02; }
.tsc_c3b_green.tsc_button:active { background-color:#a4d50b; }
.tsc_c3b_blue.tsc_button { background-color:#0E59AE; }
.tsc_c3b_blue.tsc_button:hover { background-color:#063468; }
.tsc_c3b_blue.tsc_button:active { background-color:#1169cc; }
.tsc_c3b_purple.tsc_button { background-color:#660099; }
.tsc_c3b_purple.tsc_button:hover { background-color:#330066; }
.tsc_c3b_purple.tsc_button:active { background-color:#7f02bd; }
.tsc_c3b_teal.tsc_button { background-color:#2DAEBF; }
.tsc_c3b_teal.tsc_button:hover { background-color:#007D9A; }
.tsc_c3b_teal.tsc_button:active { background-color:#36cbdf; }
.tsc_c3b_red.tsc_button { background-color:#CC0000; }
.tsc_c3b_red.tsc_button:hover { background-color:#990000; }
.tsc_c3b_red.tsc_button:active { background-color:#ea0202; }
.tsc_c3b_magenta.tsc_button { background-color:#A9014B; }
.tsc_c3b_magenta.tsc_button:hover { background-color:#630030; }
.tsc_c3b_magenta.tsc_button:active { background-color:#ce025c; }
.tsc_c3b_orange.tsc_button { background-color:#FF5C00; }
.tsc_c3b_orange.tsc_button:hover { background-color:#D45500; }
.tsc_c3b_orange.tsc_button:active { background-color:#fd762a; }
.tsc_c3b_yellow.tsc_button { background-color:#FFE115; }
.tsc_c3b_yellow.tsc_button:hover { background-color:#E4C913; }
.tsc_c3b_yellow.tsc_button:active { background-color:#fee539; }
.tsc_c3b_white.tsc_button { background-color:#FFFFFF; border:1px solid #CCCCCC; color:#666666 !important; font-weight:normal; text-shadow:0 1px 1px #FFFFFF; }
.tsc_c3b_white.tsc_button:hover { background-color:#EEEEEE; }
.tsc_c3b_white.tsc_button:active { background-color:#ffffff; }
.tsc_c3b_gray.tsc_button { -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); background:#FFFFFF url(../images/button-overlay-black.png) repeat-x; border:1px solid #BBBBBB; color:#555555 !important; text-shadow:0 1px 1px rgba(255, 255, 255, 0.5); }
.tsc_c3b_gray.tsc_button:hover { background-color:#EEEEEE; border-color:#999999; color:#444444 !important; }
.tsc_c3b_gray.tsc_button:active { background-color:#ffffff; }
/* Small Buttons -------------------------------------------------- */
.tsc_c3b_small.tsc_button { font-size:11px; padding:5px 15px 6px; background-image:url(../images/small-button-overlay.png); }
input[type="submit"].tsc_c3b_small.tsc_button,
.tsc_c3b_small.tsc_button.tsc_c3b_input { padding:3px 15px 4px; }
input[type="button"].tsc_c3b_small.tsc_button,
button.tsc_c3b_small.tsc_button { padding:4px 15px; }
/* Large Buttons ------------------------------------------------- */
.tsc_c3b_large.tsc_button { font-size:14px; padding:8px 19px 9px; background-image:url(../images/large-button-overlay.png); }
input[type="submit"].tsc_c3b_large.tsc_button,
.tsc_c3b_large.tsc_button.tsc_c3b_input { padding:6px 16px 6px; }
input[type="button"].tsc_c3b_large.tsc_button,
button.tsc_c3b_large.tsc_button { padding:7px 16px; }
/* Tall Buttons ------------------------------------------------- */
.tsc_c3b_tall.tsc_button { font-size:14px; padding:8px 19px 9px; background-image:url(../images/tall-button-overlay.png); }
.tsc_c3b_tall.tsc_c3b_gray.tsc_button { background-color:#FFFFFF; background-image: url(../images/tall-black.png); background-repeat:repeat-x; }
.tsc_c3b_tall.tsc_c3b_gray.tsc_button:hover { background-color:#EEEEEE!important; border-color:#999999; color:#444444 !important; }
.tsc_c3b_tall.tsc_c3b_gray.tsc_button:active { background-color:#FFFFFF!important; }


/* Round Buttons ------------------------------------------------ */
.tsc_c3b_round.tsc_button { -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; background-image:url(../images/round-button-overlay.png); border:1px solid rgba(0, 0, 0, 0.25); font-size:13px; padding:0; }
.tsc_c3b_round.tsc_button span { -moz-border-radius:14px; -webkit-border-radius:14px; border-radius:14px; display:block; line-height:1; padding:4px 15px 6px; }
.tsc_c3b_round.tsc_button.tsc_c3b_input { padding:3px 13px 4px; }
.tsc_c3b_small.tsc_c3b_round.tsc_button { -moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px; font-size:11px; }
input[type="button"].tsc_c3b_round.tsc_c3b_small.tsc_button,
button.tsc_c3b_round.tsc_c3b_small.tsc_button { padding:0; }
.tsc_c3b_small.tsc_c3b_round.tsc_button span { -moz-border-radius:11px; -webkit-border-radius:11px; border-radius:11px; padding:6px 15px 6px; }
.tsc_c3b_large.tsc_c3b_round.tsc_button { -moz-border-radius:18px; -webkit-border-radius:18px; border-radius:18px; background-position:left bottom; }
.tsc_c3b_large.tsc_c3b_round.tsc_button span { -moz-border-radius:17px; -webkit-border-radius:17px; border-radius:17px; font-size:14px; padding:7px 20px 9px; }
.tsc_c3b_large.tsc_c3b_tall.tsc_c3b_round.tsc_button small { display:block; margin-top:5px; }
/* Arrows and Icons Classes --------------------------------------- */
.tsc_c3b_download.tsc_c3b_large.tsc_c3b_round span { background:url(../images/arrow-down.png) no-repeat right center; padding-right:30px; margin-right:15px; }
.tsc_c3b_download.tsc_c3b_large span { background:url(../images/arrow-down.png) no-repeat right center; padding-right:30px; margin-right:0px; }
.tsc_c3b_download.tsc_c3b_tall span { float:right; padding-right:40px; margin:0 -5px -1px 0; height:32px; }
.tsc_c3b_download.tsc_c3b_light.tsc_c3b_tall span { float:right; padding-right:40px; margin:0 -5px -1px 0; height:32px; }
.tsc_c3b_download.tsc_c3b_dark.tsc_c3b_tall span { float:right; padding-right:40px; margin:0 -5px -1px 0; height:32px; }
.tsc_c3b_dlDark.tsc_c3b_large.tsc_c3b_round span { background:url(../images/arrow-down-dark.png) no-repeat right center; padding-right:30px; margin-right:15px; }
.tsc_c3b_dlDark.tsc_c3b_large span { background:url(../images/arrow-down-dark.png) no-repeat right center; padding-right:30px; margin-right:0px; }
.tsc_c3b_dlLight.tsc_c3b_large.tsc_c3b_round span { background:url(../images/arrow-down-light.png) no-repeat right center; padding-right:30px; margin-right:15px; }
.tsc_c3b_dlLight.tsc_c3b_large span { background:url(../images/arrow-down-light.png) no-repeat right center; padding-right:30px; margin-right:0px; }

.tsc_button.tall span { 
    font-size: 16px; 
    text-align: center; 
} 
.tsc_button.tall span em { 
    display: block; 
    font-size: 11px; 
} 
.tsc_button.tall {
    background-image: url("../images/tall-tsc-button-overlay.png");
}

.oauth-left {
	width: 84px;
	height: 84px;
	cursor: pointer;
	margin-bottom: 10px;
    transition-property: padding-left;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-property: padding-left;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition: padding-left 1s;
    -o-transition-property: padding-left;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: ease;

}

.oauth-left:hover {padding-left: 30px}


