
#logo span {
  color: #888;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-left: 20px;
}
#card {
  text-align: center;
  height: 190px;
}
#card .wrapper {
  padding-top: 10px;
  width: 220px;
  height: 190px;
}
#card .wrapper .front {
  line-height: 150px;
}
#dialog {

  box-shadow: 0 1px 4px 0 #ddd;
}
#dialog .card p {
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 22px;
}
#dialog .actions button {
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
#dialog .actions button:hover {
  text-decoration: underline;
}
#dialog .actions button.main {
  padding: 5px 15px;
  background: -webkit-linear-gradient(top, #fff 20%, #eee);
  background: -moz-linear-gradient(top, #fff 20%, #eee);

  outline: none;
}
#dialog .actions button.main:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(top, #fff 50%, #eee);
  background: -moz-linear-gradient(top, #fff 50%, #eee);
}
#dialog .actions button.main:active {
  background: -webkit-linear-gradient(bottom, #fff 20%, #eee);
  background: -moz-linear-gradient(bottom, #fff 20%, #eee);
}
.menu {
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.2);
}
.menu li:first-child a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}
.menu li:last-child a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}
.notification {

}
.split-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 5px;
  font-size: 12px;
}
.split-button a {
  background: -webkit-linear-gradient(top, #fff 20%, #eee);
  background: -moz-linear-gradient(top, #fff 20%, #eee);
}
.split-button a:hover {
  background: -webkit-linear-gradient(top, #fff 40%, #efefef);
  background: -moz-linear-gradient(top, #fff 40%, #efefef);
  text-decoration: none;
}
.split-button a:active {
  background: -webkit-linear-gradient(bottom, #fff 40%, #efefef);
  background: -moz-linear-gradient(bottom, #fff 40%, #efefef);
  text-decoration: none;
}
.split-button a {
  box-shadow: inset 1px 0 rgba(255,255,255,.75), 0 1px #ddd;
}
#wrapper > section {
  margin: 30px 0;
  width: 350px;
  border-bottom: 1px solid #ddd;
}
#wrapper > section:last-of-type {
  border-bottom: none;
}
#logo h1 {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  background: #2BEFFF;
  color: white;
  padding: 30px;
}
#logo + p {
  font-weight: 200;
  font-size: 18px;
  width: 60%;
}
