<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>geophoto</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/1140-1.css" type="text/css" media="screen" />
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pikaday.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css" type="text/css" media="screen" />
    
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'> -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
    <!--[if IE]><script src="excanvas.js"></script><![endif]-->
</head>

<body onload="geo.init()">

<div style="padding-bottom: 5px;margin-bottom: 5px;">
    <div class="container">
        <div class="row" style="background: #444;border: 1px solid #333">
            
            <div class="fivecol" style="color: #fff;font-size: 14px;">
                <div style="padding: 5px 20px;display: inline-block">
                    orgname, ltd
                </div>
                <!-- <img src="{{STATIC_URL}}img/geocam_logo.png" style="padding-top: 20px">-->
            </div>
            
            <div class="sevencol last" style="text-align: right">
                
                <div style="padding: 5px;cursor: pointer;color: #fff;font-size: 14px;">
                    
                    <span>{{ user_name }} ({{ user_id }})</span>
                    
                <div style="cursor: pointer;display: inline-block;padding: 0 10px">
                    <span style="border-bottom: 1px dashed #f0f0f0">Properties&nbsp;<img src="{{ STATIC_URL }}img/arrow_down.gif"></span>
                </div>
                    <span style="border-bottom: 1px dashed #f0f0f0" id="btn-logout">logout&nbsp;</span>
                </div>
                
            </div>
            
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            
            <div class="twocol">
                
                <div>
                    <table width="100%"><tr>
                    <td id="switch-tab-1">Files</td>
                    
                    <td id="switch-tab-2">Projects</td>
                    
                    <!--
                    <td style="text-align: right">
                        <img src="{{ STATIC_URL }}img/24_structure.png">
                    </td>
                    -->
                    
                    </tr>
                    </table>
                </div>
                
                <div style="height: 250px;overflow:auto;border: 1px solid #444;padding: 5px;color: #fff;background: url({{ STATIC_URL }}img/ste.png);" id="switch-content">
                    <!-- tabs content block -->
                </div>
                
                <div id="switch-tab-1-data" style="display: none">
                    
                </div>
                
                <div id="switch-tab-2-data" style="display: none;">
                    <div id="projects_list">
                        project list
                    </div>
                    <div class="button black" id="edit_project" onclick="geo.project_create()">New</div>
                </div>
                
                <!-- file button block -->
                
                <div style="height: 70px;border: 1px solid #444;padding: 3px 7px;border-top: 0;text-align: right;font-size: 12px;color: #999;display: none" id="file_ops">
                    
                    <div id="file-loading" style="display: none;text-align: center"><img src="/static/img/1.gif"></div>
                    
                    <div id="file-input">
                        <input type="file" id="file_upload" style="font-size: 10px;" name="file" /><div class="button black" id="opera_submit" style="padding: 1px 15px;margin: 0;display: none;width: 100px;" onclick="geo.handleFileUpload()">Upload</div>
                    </div>
                        
                    <div style="margin-top: 10px">
                        <div class="button red" style="display: inline-block;padding: 5px 10px;margin: 0 3px" id="file_delete">Delete file</div>
                        <div class="button black" style="width: 80px;display: inline-block;padding: 5px 10px;margin: 0 3px" id="file_download">Download</div>
                            <!-- Total files: <b>58 (54MB)</b> -->
                    </div>
                    
                </div>
                
                <!-- project block -->
                <div style="height: 70px;border: 1px solid #444;padding: 3px 7px;border-top: 0;text-align: right;font-size: 12px;color: #999;display: none" id="project_ops">
                    
                    <div class="button green" style="display: inline-block;padding: 5px 10px;margin: 0 3px" id="new_project">+</div><div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 3px">Edit</div><div class="button red" style="display: inline-block;padding: 5px 10px;margin: 0 3px" id="project_delete">Delete project</div>
                    
                    <div style="margin-top: 10px">
                        Total projects: <b>58 (54MB)</b>
                    </div>
                    
                </div>
                
                <div style="background: #444;color: #fff;padding: 7px;margin-top: 10px">
                    <table width="100%"><tr>
                    <td>Filters</td>
                    <td>
                    <div style="padding: 5px;border: 1px solid #333;cursor: pointer" id="filt-div" onclick="geo.filters_switch()">
                    <table width="100%"><tr>
                    <td id="filt-status"></td>
                    <td style="text-align: right"><input type="checkbox" id="filt-checkbox"></td>
                    </tr></table>
                    <div>
                    </td>
                    </tr></table>
                </div>
                
                <div style="font-size: 10px;line-height: 14px;border: 1px solid #444;color: #fff;background: url({{ STATIC_URL }}img/ste.png);">
                
                <div id="filters" style="height: 80px;overflow: auto">
                    
                </div>
                
                <!-- filter edit area -->
                <div id="filters-edit"></div>
                
                <table width="100%" style="margin: 5px 0"><tr>
                    <td style="text-align: right"><div class="button green" style="display: inline-block;padding: 5px 10px;margin: 0 3px" id="filter-create">Create</div><div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 3px" id="filter-edit">Edit</div><div class="button red" style="display: inline-block;padding: 5px 10px;margin: 0 3px" id="filter-delete">X</div></td></tr>
                </table>
                </div>
                
            </div>
            
            <div class="sixcol">
                <div>
                    
                    <div style="text-align: center;position: relative">
                        <div style="background: #444;color: #fff;padding: 7px;">
                            <table width="100%"><tr>
                            <td style="text-align: left"><b style="color: cyan" id="photo-name">HBC00002.jpeg</b><span style="font-size: 14px" id="lat"></span><span id="lng" style="font-size: 14px"></span> <br><span style="font-size: 12px" id="address"></span></td>
                            <!--
                            <td style="text-align: right"><div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 10px" id="report">Report</div><img src="{{ STATIC_URL }}img/24_move.png"></td>
                            -->
                            </tr></table>
                        </div>
                        <div id="prime_image" style="height: 445px;width: 100%;background: url({{STATIC_URL}}img/ste.png);text-align: center;position: relative">
                            <table width="100%" height="100%"><tr><td style="vertical-align: middle;height: 480px">
                                <img class="img_shadow" id="central_image" style="max-width:100%; max-height:100%;text-align: center">
                            </td></tr></table>
                        </div>
                        <div style="position: relative;bottom: 0;left: 0;padding:15px;background: url({{STATIC_URL}}/img/tr.png);color: #f0f0f0;cursor: pointer" id="photo-comments" onclick="geo.comments_edit()">
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="fourcol last">
                <div>
                    
                    <div style="background: #444;color: #fff;padding: 7px;">
                        <table width="100%"><tr>
                        <!-- <td>map 1</td> -->
                        <td style="text-align: right">
                            <div style="display: inline-block;color: #fff" id="b1-count">
                                
                            </div>
                            <div class="marker" onclick="geo.switch_mode('b1', this)"></div>
                            <div class="clean-gray" style="display: inline-block;padding: 5px 10px;margin: 0 1px;width: auto" id="google-b-1" onclick="geo.change_map('b1', 'google')">google</div>
                            <div class="clean-gray" style="display: inline-block;padding: 5px 10px;margin: 0 1px;width: auto" id="osm-b-1"  onclick="geo.change_map('b1', 'osm')">osm</div>
                            <div class="clean-gray" style="display: inline-block;padding: 5px 10px;margin: 0 1px;width: auto" id="bing-b-1" onclick="geo.change_map('b1', 'bing')">bing</div>
                            <div class="clean-gray" style="display: inline-block;padding: 5px 10px;margin: 0 1px;width: auto" id="yandex-b-1" onclick="geo.change_map('b1', 'yandex')">yandex</div>
                            <!-- <img src="{{ STATIC_URL }}img/24_move.png" style="margin: 0 10px" id="map1_fullscreen"> -->
                            <!-- <img src="{{ STATIC_URL }}img/24_edit.png"> -->
                        </td>
                        </tr></table>
                    </div>
                    
                    <!--
                    <div style="background: #000;color: #fff;padding: 3px 7px;font-size: 12px"><b style="color: cyan">HBC00002.jpeg</b> Passatge Riu, 443, 07750 Serpentona, Балеарские о-ва, Испания</div>
                    -->
                    
                    <div id="b1-pre" style="position: relative;height: 500px">
                        <div id="b1" style="position: relative;height: 500px"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

<div class="container" style="margin-top: 3px">
    <div class="row">
        
        <div class="fivecol">
                <div>
                    <table width="100%"><tr>
                    <td width="50%" style="background: #444;color: #fff;padding: 7px;cursor: pointer;">Thumbnails
                        
                        <div id="thumb_left" style="font-size: 14px;color: #f0f0f0;padding: 0 15px;display: inline-block"></div>
                        
                        <!--
                        <img src="{{ STATIC_URL }}img/24_thumbnails.png" style="padding-right: 10px">
                        <img src="{{ STATIC_URL }}img/24_thumbnails_2.png">
                        -->
                    </td>
                    <!--
                    <td style="border: 1px solid #444;background: #222;border-bottom: 0;color: #fff;padding: 7px;cursor: pointer" id="switch-tab-2">Exif data</td>
                    <td style="text-align: right"></td>
                    -->
                    </tr></table>
                    
                    <div style="border: 1px solid #444;padding: 5px;color: #fff;background: url({{ STATIC_URL }}img/ste.png);height: 200px;overflow: auto;" id="thumbnails">
                        
                    </div>
                    
                    <div id="thumb_info" style="background: #222;padding: 7px;color: #fafafa;text-align: right">
                        
                    </div>
                    
                </div>
                
        </div>
        
        <div class="threecol">
            
            <div style="background: #444;color: #fff;padding: 7px;">
                <table width="100%"><tr>
                <td>Geo data</td>
                <!--
                <td style="text-align: right"><div class="minimal" style="display: inline-block;padding: 5px 10px;margin: 0 3px;width: auto">Edit</div></td>
                -->
                </tr></table>
            </div>
            
            <div>
                <div style="font-size: 10px;line-height: 14px;border: 1px solid #444;color: #fff;background: url({{ STATIC_URL }}img/ste.png);height: 200px;overflow:auto" id="geodata">
                    
                </div>
            </div>
            
        </div>
        
        <div class="fourcol last">
            <div style="background: #444;color: #fff;padding: 7px;">
                <table width="100%"><tr>
                <!-- <td>map 2</td> -->
                <td style="text-align: right">
                    <div class="marker" onclick="geo.switch_mode('b2', this)"></div>
                    <div class="clean-gray" style="display: inline-block;padding: 5px 10px;margin: 0 1px;width: auto" id="google-b-2" onclick="geo.change_map('b2', 'google')">google</div>
                    <div class="clean-gray" style="display: inline-block;padding: 5px 10px;margin: 0 1px;width: auto" id="osm-b-2" onclick="geo.change_map('b2', 'osm')">osm</div>
                    <div class="clean-gray" style="display: inline-block;padding: 5px 10px;margin: 0 1px;width: auto" id="bing-b-2" onclick="geo.change_map('b2', 'bing')">bing</div>
                    <div class="clean-gray" style="display: inline-block;padding: 5px 10px;margin: 0 1px;width: auto" id="yandex-b-2" onclick="geo.change_map('b2', 'yandex')">yandex</div>
                    <!-- <img src="{{ STATIC_URL }}img/24_move.png" style="margin: 0 10px" id="map1_fullscreen"> -->
                    <!-- <img src="{{ STATIC_URL }}img/24_edit.png"> -->
                </td>
                </tr></table>
            </div>
            
            <div id="b2-pre" style="height: 300px;position: relative;">
                <div id="b2" style="height: 300px;position: relative;"></div>
            </div>
            
        </div>
        
    </div>
</div>

<div style="background: #333;padding: 15px;margin-top: 10px"></div>

<script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/yajax.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>

<script type="text/javascript">
    window.csrf_token = '{{ csrf_token }}'
    window.static_url = '{{ STATIC_URL }}'
</script>

</body>

</html>
