<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>geophoto</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/1140-1.css" type="text/css" media="screen" />
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pikaday.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css" type="text/css" media="screen" />
    
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'> -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
    <!--[if IE]><script src="excanvas.js"></script><![endif]-->
</head>

<body onload="geo.init()">

<div style="padding-bottom: 3px;" id="fit-top">
    <div class="container">
        <div class="row" style="background: url(/static/img/bg-panel-header.gif) left bottom #303030;border: 1px solid #2e2e2e" id="top-level">
            
            <div class="fivecol" style="color: #f0f0f0;font-size: 14px;">
                
                <!--
                <div style="padding: 5px 20px;display: inline-block">
                    orgname, ltd
                </div>
                -->
                
                <div style="background: #3A5E4A;display: inline-block"><div id="project-name" style="display: inline-block;padding: 7px 30px"><img src="/static/img/1.gif"></div></div>
                
                <div id="project-link"></div>
                
                <!-- <img src="{{STATIC_URL}}img/geocam_logo.png" style="padding-top: 20px">-->
            </div>
            
            <div class="sevencol last" style="text-align: right">
                
                <div style="padding: 5px;cursor: pointer;color: #f0f0f0;font-size: 14px;">
                    
                    <span>{{ user_name }} ({{ user_id }})</span>
                    
                    <div style="cursor: pointer;display: inline-block;padding: 0 10px">
                        <span style="border-bottom: 1px dashed #f0f0f0">Properties&nbsp;<img src="{{ STATIC_URL }}img/arrow_down.gif"></span>
                    </div>
                    
                    <span style="border-bottom: 1px dashed #f0f0f0;margin: 0 10px" id="btn-logout">logout&nbsp;</span>
                </div>
                
            </div>
            
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            
            <div class="twocol">
                
                <div id="fit-l-1">
                    
                    <div class="hat" style="padding: 0">
                        <table width="100%"><tr>
                        <td id="switch-tab-1"><img src="/static/img/file.png" style="padding-right: 5px">Files</td>
                        
                        <td id="switch-tab-2"><img src="/static/img/project.png" style="padding-right: 5px">Projects</td>
                        
                        <!--
                        <td style="text-align: right">
                            <img src="{{ STATIC_URL }}img/24_structure.png">
                        </td>
                        -->
                        
                        </tr>
                        </table>
                    </div>
                    
                    <div style="overflow: auto;color: #f0f0f0;display: none;padding: 5px;" id="project-editor">
                        
                        <div id="project-edit-id" style="display: none"></div>
                        <div id="project-edit-name-old" style="display: none"></div>
                        
                        <div>Name:</div>
                        <input type="text" id="project-edit-name" class="inp_date" style="padding: 3px;width: 160px">
                        <div>Description:</div>
                        <textarea id="project-edit-desc" style="font-size: 10px;border: 1px solid #333;background: #555;color: #fff;width: 160px" rows="5"></textarea>
                        
                        <div style="margin-top: 5px">
                            <div class="button green" style="display: inline-block;padding: 5px 10px;margin: 0 3px" onclick="geo.project_edit.save()">Apply</div>
                            <div class="button red" style="display: inline-block;padding: 5px 10px;margin: 0 3px" onclick="geo.project_edit.stop()">Cancel</div>
                        </div>
                        
                        <div style="margin-top: 10px;color: #fff;">
                            <input type="checkbox" id="project-shared" onclick="geo.checkbox_project_switch()">&nbsp;Shared project
                        </div>
                        
                    </div>
                    
                    <div id="group-1">
                    
                    <div style="overflow:auto;color: #f0f0f0;background: url({{ STATIC_URL }}img/ste.png)" id="switch-content" class="underhat">
                        <!-- tabs content block -->
                    </div>
                    
                    <div id="switch-tab-1-data" style="display: none">
                        
                    </div>
                    
                    <div id="switch-tab-2-data" style="display: none;">
                        <div id="projects_list">
                            project list
                        </div>
                        <div class="button black" id="edit_project" onclick="geo.project_create()">New</div>
                    </div>
                    
                    <!-- file button block -->
                    
                    <div style="border: 1px solid #2e2e2e;padding: 3px 7px;border-top: 0;text-align: right;font-size: 12px;color: #999;display: none;background: url({{ STATIC_URL }}img/ste.png)" id="file_ops">
                        
                        <div id="file-loading" style="display: none;text-align: center"><img src="/static/img/1.gif"></div>
                        
                        <div id="file-input">
                            <input type="file" id="file_upload" style="font-size: 10px;" name="file" /><div class="button black" id="opera_submit" style="padding: 1px 15px;margin: 0;display: none;width: 100px;" onclick="geo.handleFileUpload()">Upload</div>
                        </div>
                        
                        <div style="margin-top: 10px">
                            <div class="button red" style="display: inline-block;padding: 3px 5px;margin: 0 1px" id="file_delete">Delete file</div>
                            <div class="button black" style="width: 80px;display: inline-block;padding: 3px 5px;margin: 0 1px" id="file_download">Download</div>
                                <!-- Total files: <b>58 (54MB)</b> -->
                        </div>
                        
                    </div>
                    
                <!-- project block -->
                
                <div style="border: 1px solid #444;padding: 3px 7px;border-top: 0;text-align: left;font-size: 12px;color: #999;display: none" id="project_ops">
                    
                    <div style="text-align: center;margin-bottom: 3px">
                        <div class="button black" style="display: inline-block;padding: 2px 45px;margin: 0 1px;" id="project_load" onclick="geo.project_load()">Load</div>
                    </div>
                    
                    <div style="text-align: center">
                        <div class="button green" style="display: inline-block;padding: 2px 5px;margin: 0 1px" id="new_project">Create</div>
                        
                        <div class="button orange" style="display: inline-block;padding: 2px 5px;margin: 0 1px" onclick="geo.project_edit.start()">Edit</div>
    
                        <div class="button red" style="display: inline-block;padding: 2px 5px;margin: 0 1px" id="project_delete">Delete</div>
                    </div>
                    
                </div>
                
                </div>
                
                <!-- end group-1 -->
                
                </div>
                
                <div id="fit-l-2">
                <div class="hat" style="margin-top: 3px">
                    <table width="100%"><tr>
                    <td>Filters</td>
                    <td>
                    <div style="padding: 5px;border: 1px solid #333;cursor: pointer" id="filt-div" onclick="geo.filters_switch()">
                    <table width="100%"><tr>
                    <td id="filt-status"></td>
                    <td style="text-align: right"><input type="checkbox" id="filt-checkbox"></td>
                    </tr></table>
                    <div>
                    </td>
                    </tr></table>
                </div>
                
                <div style="font-size: 10px;line-height: 14px;border-left: 1px solid #2e2e2e;border-right: 1px solid #2e2e2e;border-bottom: 1px solid #2e2e2e;color: #f0f0f0;background: url({{ STATIC_URL }}img/ste.png)">
                
                <div id="filters">
                    
                </div>
                
                <!-- filter edit area -->
                <div id="filters-edit"></div>
                    <table width="100%" style="margin: 5px 0"><tr>
                        <td style="text-align: right"><div class="button green" style="display: inline-block;padding: 2px 10px;margin: 0 1px" id="filter-create">Create</div><div class="button black" style="display: inline-block;padding: 2px 10px;margin: 0 1px" id="filter-edit">Edit</div><div class="button red" style="display: inline-block;padding: 2px 10px;margin: 0 1px" id="filter-delete">X</div></td></tr>
                    </table>
                </div>
                
                </div>
                
                <div id="fit-l-3" style="margin-top: 3px">
                    
                    <div class="hat" style="margin-top: 3px">
                        <table width="100%"><tr>
                        <td>Markers</td>
                        
                        <!--
                        <td style="text-align: right"><div class="minimal" style="display: inline-block;padding: 5px 10px;margin: 0 3px;width: auto">Edit</div></td>
                        -->
                        
                        </tr></table>
                    </div>
                    
                    <div>
                        <div style="font-size: 10px;line-height: 14px;border: 1px solid #444;color: #f0f0f0;background: url({{ STATIC_URL }}img/ste.png);overflow:auto;padding: 7px;border: 1px solid #2e2e2e" id="marker-settings">
                            <input type="checkbox" value="Multiple">
                        </div>
                    </div>
                    
                    <div id="geo-data" style="display: none">
                        
                        <div class="hat" style="margin-top: 3px">
                            <table width="100%"><tr>
                            <td>Geo data</td>
                            <!--
                            <td style="text-align: right"><div class="minimal" style="display: inline-block;padding: 5px 10px;margin: 0 3px;width: auto">Edit</div></td>
                            -->
                            </tr></table>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="sixcol">
                
                <div id="center-column">
                    <div>
                        <div class="hat" id="top-panel" style="position: relative">
                            <table width="100%"><tr>
                            <td style="text-align: left"><b style="color: cyan" id="photo-name">HBC00002.jpeg</b><span style="font-size: 14px" id="lat"></span><span id="lng" style="font-size: 14px"></span> <br><span style="font-size: 12px" id="address"></span></td>
                            
                            <!--
                            <td style="text-align: right"><div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 10px" id="report">Report</div><img src="{{ STATIC_URL }}img/24_move.png"></td>
                            -->
                            
                            </tr></table>
                        </div>
                        
                        <div id="prime_image" style="border-bottom: 1px solid #444;border-right: 1px solid #2e2e2e;border-left: 1px solid #2e2e2e;border-top: 1px solid #444;color: #f0f0f0;background: url({{ STATIC_URL }}img/ste.png);position: relative;text-align: center">
                            <!-- <table style=""><tr><td style="vertical-align: middle;"> -->
                            <img class="img_shadow" id="central_image" style="max-height: 100%;max-width: 100%;">
                            <!-- </td></tr></table> -->
                        </div>
                        
                        <div style="padding:15px;background: url({{STATIC_URL}}/img/tr.png);color: #f0f0f0;cursor: pointer;text-align: center;position: relative;clear: both" onclick="geo.comments_edit.start()" id="photo-comments">
                            
                        </div>
                        
                        <div style="padding:15px;background: url({{STATIC_URL}}/img/tr.png);color: #f0f0f0;cursor: pointer;text-align: center;display: none" id="photo-edit-comments">
                            
                        </div>
                        
                    </div>
                </div>
                
                <div style="margin-top: 3px" id="center-footer">
                    <table width="100%"><tr>
                    
                    <td class="hat" onclick="geo.block.switch_thumbnails(this)" id="thumb-panel" style="background: #555"><img src="{{ STATIC_URL }}img/24_thumbnails.png" width="12px" style="padding-right: 10px">Thumbnails
                        
                        <div id="thumb_left" style="font-size: 14px;color: #f0f0f0;padding: 0 15px;display: inline-block"></div>
                        
                        <!--
                        <img src="{{ STATIC_URL }}img/24_thumbnails.png" style="padding-right: 10px">
                        <img src="{{ STATIC_URL }}img/24_thumbnails_2.png">
                        -->
                        
                    </td>
                    
                    <td class="hat" onclick="geo.block.switch_geodata(this)" id="geodata-panel"><img src="{{ STATIC_URL }}img/24_edit.png" width="12px" style="padding-right: 5px">
                        Geo data
                    </td>
                    
                    <!--
                    <td style="border: 1px solid #444;background: #222;border-bottom: 0;color: #fff;padding: 7px;cursor: pointer" id="switch-tab-2">Exif data</td>
                    <td style="text-align: right"></td>
                    -->
                    
                    </tr></table>
                    
                    <div id="bottom-content">
                        
                        <div style="border-bottom: 1px solid #444;border-right: 1px solid #2e2e2e;border-left: 1px solid #2e2e2e;border-top: 1px solid #444;padding: 5px;color: #f0f0f0;background: url({{ STATIC_URL }}img/ste.png);overflow: auto;" id="thumbnails">
                            
                        </div>
                        
                        <div id="thumb_info" style="border: 1px solid #2e2e2e;background: #2e2e2e;padding: 7px;color: #fafafa;text-align: right">
                            
                        </div>
                        
                        <div style="font-size: 10px;line-height: 14px;border: 1px solid #444;color: #f0f0f0;background: url({{ STATIC_URL }}img/ste.png);overflow:auto;display: none" id="geodata">
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="fourcol last">
                <div>
                    
                    <div id="fit-map-1">
                        
                        <div class="hat">
                            <table width="100%"><tr>
                            <!-- <td>map 1</td> -->
                            <td style="text-align: right">
                                <div style="display: inline-block;color: #f0f0f0" id="b1-count">
                                    
                                </div>
                                <div class="marker" onclick="geo.switch_mode('b1', this)"></div>
                                <div class="tsc_c3b_small tsc_button" style="display: inline-block;padding: 8px 5px;margin: 0 1px;width: auto" id="google-b1" onclick="geo.change_map('b1', 'google');">google</div>
                                <div class="tsc_c3b_small tsc_button" style="display: inline-block;padding: 8px 5px;margin: 0 1px;width: auto" id="osm-b1"  onclick="geo.change_map('b1', 'osm');">osm</div>
                                <div class="tsc_c3b_small tsc_button" style="display: inline-block;padding: 8px 5px;margin: 0 1px;width: auto" id="bing-b1" onclick="geo.change_map('b1', 'bing');">bing</div>
                                <div class="tsc_c3b_small tsc_button" style="display: inline-block;padding: 8px 5px;margin: 0 1px;width: auto" id="yandex-b1" onclick="geo.change_map('b1', 'yandex');">yandex</div>
                                
                                <!-- <img src="{{ STATIC_URL }}img/24_move.png" style="margin: 0 10px" id="map1_fullscreen"> -->
                                <!-- <img src="{{ STATIC_URL }}img/24_edit.png"> -->
                                
                            </td>
                            </tr></table>
                        </div>
                        
                        <!--
                        <div style="background: #000;color: #fff;padding: 3px 7px;font-size: 12px"><b style="color: cyan">HBC00002.jpeg</b> Passatge Riu, 443, 07750 Serpentona, Балеарские о-ва, Испания</div>
                        -->
                        
                        <div id="b1-pre" style="position: relative;">
                            <div id="b1" style="position: relative;"></div>
                        </div>
                        
                    </div>
                    
                    <div id="fit-map-2">
                        <div class="hat" style="margin-top: 3px">
                            <table width="100%"><tr>
                            <!-- <td>map 2</td> -->
                            <td style="text-align: right">
                                <div class="marker" onclick="geo.switch_mode('b2', this)"></div>
                                <div class="tsc_c3b_small tsc_button" style="display: inline-block;padding: 8px 5px;margin: 0 1px;width: auto" id="google-b2" onclick="geo.change_map('b2', 'google')">google</div>
                                <div class="tsc_c3b_small tsc_button" style="display: inline-block;padding: 8px 5px;margin: 0 1px;width: auto" id="osm-b2" onclick="geo.change_map('b2', 'osm')">osm</div>
                                <div class="tsc_c3b_small tsc_button" style="display: inline-block;padding: 8px 5px;margin: 0 1px;width: auto" id="bing-b2" onclick="geo.change_map('b2', 'bing')">bing</div>
                                <div class="tsc_c3b_small tsc_button" style="display: inline-block;padding: 8px 5px;margin: 0 1px;width: auto" id="yandex-b2" onclick="geo.change_map('b2', 'yandex')">yandex</div>
                                <!-- <img src="{{ STATIC_URL }}img/24_move.png" style="margin: 0 10px" id="map1_fullscreen"> -->
                                <!-- <img src="{{ STATIC_URL }}img/24_edit.png"> -->
                            </td>
                            </tr></table>
                        </div>
                        
                        <div id="b2-pre" style="position: relative;padding: 1px">
                            <div id="b2" style="position: relative;"></div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
    
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/excanvas.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/yajax.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>

<script type="text/javascript">
    window.csrf_token = '{{ csrf_token }}'
    window.static_url = '{{ STATIC_URL }}'
    window.shared_project = '{{ shared_project }}'
    window.shared_user_id = '{{ shared_user_id }}'
</script>

</body>

</html>
