<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>geophoto</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/1140.css" type="text/css" media="screen" />
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pikaday.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css" type="text/css" media="screen" />
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />
    
</head>

<body onload="geo.init()">

<div style="height: 2px;"></div>

<div style="padding-bottom: 5px;margin-bottom: 5px;">
    <div class="container">
        <div class="row">
            
            <div class="twocol">
                <img src="{{STATIC_URL}}img/geocam_logo.png" style="padding-top: 20px">
            </div>
            
            <div class="twocol">
                
                <!--
                <div class="head_btn">
                    <img src="{{STATIC_URL}}img/24_settings.png">
                    <div>
                    Open
                    </div>
                </div>
                -->
                
                <div class="head_btn">
                    <img src="{{STATIC_URL}}img/24_settings.png">
                    <div>
                    Settings
                    </div>
                </div>
                
            </div>
            
            <div class="eightcol last" style="text-align: right">
                
                <div style="display: inline-block;background: url({{ STATIC_URL }}img/wild_oliva.png);padding: 7px;border-bottom: 1px solid #555;border-left: 1px solid #555;border-right: 1px solid #555;color: #fff;padding: 7px 15px;width: 200px">
                
                <!-- <img src="img/user.png" style="float: left"> -->
                
                <div style="display: inline-block;height: 64px;width: 64px;background: url({{STATIC_URL}}img/test.jpeg);border: 1px solid #444;float: left;margin-right: 10px"></div>
                
                hello, <b>{{ user_name }} ({{ user_id }})</b>
                <div style="margin-top: 5px">
                    <div class="button black" style="display: inline-block;padding: 5px 10px">edit</div>
                    <div class="button red" style="display: inline-block;padding: 5px 10px" id="btn-logout">logout</div>
                </div>
                </div>
                
                <!--
                <div class="head_btn">
                    <img src="img/24_settings.png">
                    <div>
                    Projects
                    </div>
                </div>
                
                <div class="head_btn">
                <img src="img/24_settings.png">
                    <div>
                    Properties
                    </div>
                </div>
                -->
                
            </div>
            
            <div class="sixcol last">
                
            </div>
            
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            <!--
            <div class="twocol">
                    
                    <div style="margin-bottom: 7px">
                        
                        <div style="background: #444;color: #fff;padding: 7px;">
                            <table width="100%"><tr>
                            <td>Filter by date</td>
                            <td style="text-align: right"><div style="display: inline-block;width: 25px;height: 17px;background: brown;border: 1px solid #777;font-size: 9px;text-align: center;cursor: pointer">Off</div></td>
                            </tr></table>
                        </div>
                        
                        <div style="border: 1px solid #444;padding: 5px;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)">
                            <div style="display: inline-block">
                                <h4>Begin</h4>
                                <input type="text" id="datepicker" class="inp_date">
                            </div>
                            <div style="display: inline-block">
                                <h4>End</h4>
                                <input type="text" id="datepicker1" class="inp_date">
                            </div>
                        </div>
                        </div>
                        
                        <div style="margin-bottom: 7px">
                        
                        <div style="background: #444;color: #fff;padding: 7px;">
                            <table width="100%"><tr>
                            <td>Filter by tags</td>
                            <td style="text-align: right"><div style="display: inline-block;width: 25px;height: 17px;background: brown;border: 1px solid #777;font-size: 9px;text-align: center;cursor: pointer">Off</div></td>
                            </tr></table>
                        </div>
                        
                        <div style="border: 1px solid #444;padding: 5px;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)">
                            <div style="display: inline-block">
                                <div class="button black">Select tags</div>
                            </div>
                        </div>
                        </div>
                        
                        <div style="margin-bottom: 7px">
                        
                        <div style="background: #444;color: #fff;padding: 7px;">
                            <table width="100%"><tr>
                            <td>Filter by area</td>
                            <td style="text-align: right"><div style="display: inline-block;width: 25px;height: 17px;background: brown;border: 1px solid #777;font-size: 9px;text-align: center;cursor: pointer">Off</div></td>
                            </tr></table>
                        </div>
                        
                        <div style="border: 1px solid #444;padding: 5px;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)">
                            <div style="display: inline-block">
                                <h4></h4>
                                <div class="button black">Select tags</div>
                            </div>
                        </div>
                    </div>
                    
            </div>
            -->
            
            <div class="fourcol">
                
                <div style="background: #444;color: #fff;padding: 7px;">
                    <table width="100%"><tr>
                    <td>Project files</td>
                    <td style="text-align: right">
                        <div class="button black" style="padding: 7px;margin:0 10px" id="btn_upload">Upload new</div>
                        <form enctype="multipart/form-data" style="display: none" id="form_upload">
                            <input type="file" id="file_upload" name="file" />
                        </form>
                        <img src="{{ STATIC_URL }}img/24_structure.png" id="edit_project">
                    </td>
                    </tr></table>
                </div>
                
                <div style="font-size: 11px;line-height: 14px;border: 1px solid #444;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png);">
                    <div class="file active">123123.jpeg</div>
                    <div class="file inactive">123123.jpeg</div>
                    <div class="file inactive">123123.jpeg</div>
                    <div class="file inactive">123123.jpeg</div>
                    <div class="file inactive">123123.jpeg</div>
                    <div class="file inactive">123123bvbvbtjthj.jpeg</div>
                    <div class="file inactive">123123bvdfdffd_fdfdfdfdfdfdf_thj_ffhfh.jpeg</div>
                    <div class="file inactive">123123bvbvbtjthj.jpeg</div>
                    <div class="file inactive">123123bvdfdffd_fdfdfdfdfdfdf_thj_ffhfh.jpeg</div>
                    <div class="file inactive">123123bvbvbtjthj.jpeg</div>
                    <div class="file inactive">123123bvdfdffd_fdfdfdfdfdfdf_thj_ffhfh.jpeg</div>
                </div>
                
                <div style="background: #444;color: #fff;padding: 7px;margin-top: 10px">
                    <table width="100%"><tr>
                    <td>Filters</td>
                    <td style="text-align: right"><div class="button green" style="display: inline-block;padding: 5px 10px;margin: 0 3px">Create</div><div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 3px">Edit</div><div class="button red" style="display: inline-block;padding: 5px 10px;margin: 0 3px">X</div></td>
                    </tr></table>
                </div>
                
                <div style="font-size: 10px;line-height: 14px;border: 1px solid #444;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)">
                <table width="100%">
                    
                    <tr><td><div class="file active">123123.jpeg</div></td><td style="width:20px"><input type="checkbox" style="margin: 0 5px"></td></tr>
                    <tr><td><div class="file inactive">123123.jpeg</div></td><td style="width:20px"><input type="checkbox" style="margin: 0 5px"></td></tr>
                    <tr><td><div class="file inactive">123123.jpeg</div></td><td style="width:20px"><input type="checkbox" style="margin: 0 5px"></td></tr>
                    <tr><td><div class="file inactive">123123.jpeg</div></td><td style="width:20px"><input type="checkbox" style="margin: 0 5px"></td></tr>
                    <tr><td><div class="file inactive">123123.jpeg</div></td><td style="width:20px"><input type="checkbox" style="margin: 0 5px"></td></tr>
                    
                </table>
                </div>
                
                <!--
                    <p id="tree" class="p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                -->
                
            </div>
            
            <div class="threecol">
                
            <div>
                
                <div>
                    <table width="100%"><tr>
                    <td width="50%" style="background: #444;color: #fff;padding: 7px;cursor: pointer" id="switch-tab-1">Thumbnails
                        <!--
                        <img src="{{ STATIC_URL }}img/24_thumbnails.png" style="padding-right: 10px">
                        <img src="{{ STATIC_URL }}img/24_thumbnails_2.png">
                        -->
                    </td>
                    <td style="border: 1px solid #444;background: #222;border-bottom: 0;color: #fff;padding: 7px;cursor: pointer" id="switch-tab-2">Exif data</td>
                    <td style="text-align: right"></td>
                    </tr></table>
                </div>
                
                <!-- thumbnails template -->
                <div id="switch-tab-1-data" style="display: none">
                        <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                            <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()">
                            </div>
                            <div style="position: absolute;right: 0;top: 0">
                                <input type="checkbox" style="padding:0;margin: 0">
                            </div>
                        </div>
                        
                        <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                            <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                            <div style="position: absolute;right: 0;top: 0">
                                <input type="checkbox" style="padding:0;margin: 0">
                            </div>
                        </div>
                        
                        <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                            <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                            <div style="position: absolute;right: 0;top: 0">
                                <input type="checkbox" style="padding:0;margin: 0">
                            </div>
                        </div>
                        
                        <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                            <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                            <div style="position: absolute;right: 0;top: 0">
                                <input type="checkbox" style="padding:0;margin: 0">
                            </div>
                        </div>
                        
                        <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                            <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                            <div style="position: absolute;right: 0;top: 0">
                                <input type="checkbox" style="padding:0;margin: 0">
                            </div>
                        </div>
                        
                        <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                            <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                            <div style="position: absolute;right: 0;top: 0">
                                <input type="checkbox" style="padding:0;margin: 0">
                            </div>
                        </div>
                        
                        <div style="display: inline-block;position: relative;padding: 7px;cursor: pointer" class="img_shadow_active">
                            <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                            <div style="position: absolute;right: 0;top: 0">
                                <input type="checkbox" style="padding:0;margin: 0">
                            </div>
                        </div>
                        
                        <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                            <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                            <div style="position: absolute;right: 0;top: 0">
                                <input type="checkbox" style="padding:0;margin: 0">
                            </div>
                        </div>
                        
                        <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                            <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                            <div style="position: absolute;right: 0;top: 0">
                                <input type="checkbox" style="padding:0;margin: 0">
                            </div>
                        </div>
                </div>
                
                <!-- geophoto data template -->
                <div id="switch-tab-2-data" style="display: none">
                    <div>
                        <div style="text-align: center;">
                            
                            <div style="font-size: 10px;line-height: 14px;border: 1px solid #444;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)">
                                <table width="100%">
                                    <tr><td width="50%">count</td><td width="50%" style="background: #000">567.44</td></tr>
                                    <tr><td width="50%">gps</td><td width="50%" style="background: #000">555.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">gps</td><td width="50%" style="background: #000">555.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">gps</td><td width="50%" style="background: #000">555.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                    <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div>
                    <div style="border: 1px solid #444;padding: 5px;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)" id="switch-content">
                        <!-- tabs content block -->
                    </div>
                </div>
                
            </div>
            
            </div>
            
            <!--
            <div class="threecol">
            
                <div>
                    <div style="text-align: center;">
                        
                        <div style="background: #444;color: #fff;padding: 0">
                            <table width="100%"><tr>
                            <td style="text-align: left">
                                Geophoto data
                            </td>
                            <td style="text-align: right"><img src="{{ STATIC_URL }}img/24_edit.png" style="padding: 7px"></td>
                            </tr></table>
                        </div>
                        
                        <div style="font-size: 10px;line-height: 14px;border: 1px solid #444;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)">
                            <table width="100%">
                            <tr><td width="50%">count</td><td width="50%" style="background: #000">567.44</td></tr>
                            <tr><td width="50%">gps</td><td width="50%" style="background: #000">555.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">gps</td><td width="50%" style="background: #000">555.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">gps</td><td width="50%" style="background: #000">555.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            <tr><td width="50%">area</td><td width="50%" style="background: #000">111.44</td></tr>
                            </table>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            -->
            
            <div class="fivecol last">
                <div>
                    <div style="text-align: center;">
                        <div style="background: #444;color: #fff;padding: 7px;">
                            <table width="100%"><tr>
                            <td style="text-align: left">test.jpeg</td>
                            <td style="text-align: right"><div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 10px" id="report">Report</div><img src="{{ STATIC_URL }}img/24_move.png"></td>
                            </tr></table>
                        </div>
                        <div id="prime_image">
                            <img src="{{ STATIC_URL }}img/test.jpeg" class="img_shadow">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

<div class="container" style="margin-top: 10px">
    <div class="row">
        <!--
        <div class="twocol">
            
                <div style="margin-bottom: 7px">
                
                <div style="background: #444;color: #fff;padding: 7px;">
                    <table width="100%"><tr>
                    <td>Filter name</td>

                    </tr></table>
                </div>
                
                <div style="border: 1px solid #444;padding: 5px;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)">
                    <div style="display: inline-block">
                        <input type="text" class="inp_date">
                    </div>
                </div>
                </div>
        
            <div style="margin-bottom: 7px">
                
                <div style="background: #444;color: #fff;padding: 7px;">
                    <table width="100%"><tr>
                    <td>Filter by date</td>
                    <td style="text-align: right"><div style="display: inline-block;width: 25px;height: 17px;background: brown;border: 1px solid #777;font-size: 9px;text-align: center;cursor: pointer">Off</div></td>
                    </tr></table>
                </div>
                
                <div style="border: 1px solid #444;padding: 5px;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)">
                    <div style="display: inline-block">
                        <h4>Begin</h4>
                        <input type="text" id="datepicker" class="inp_date">
                    </div>
                    <div style="display: inline-block">
                        <h4>End</h4>
                        <input type="text" id="datepicker1" class="inp_date">
                    </div>
                </div>
                </div>
                
                <div style="margin-bottom: 7px">
                
                <div style="background: #444;color: #fff;padding: 7px;">
                    <table width="100%"><tr>
                    <td>Filter by area</td>
                    
                    <td style="text-align: right"><div style="display: inline-block;width: 25px;height: 17px;background: brown;border: 1px solid #777;font-size: 9px;text-align: center;cursor: pointer">Off</div></td>
                    
                    </tr></table>
                </div>
                
                <div style="border: 1px solid #444;padding: 5px;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)">
                    <div style="display: inline-block">
                        <h4></h4>
                        <div class="button black">Select area</div>
                    </div>
                </div>
            </div>

        </div>
        -->
        <!--
        <div class="fourcol">
            
            <div>
                    
                <div style="background: #444;color: #fff;padding: 7px;">
                    <table width="100%"><tr>
                    <td>Thumbnails</td>
                    <td style="text-align: right"><img src="{{ STATIC_URL }}img/24_thumbnails.png" style="padding-right: 10px"><img src="{{ STATIC_URL }}img/24_thumbnails_2.png"></td>
                    </tr></table>
                </div>
                
                <div style="border: 1px solid #444;padding: 5px;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png)">
                    
                    <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                        <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()">
                        </div>
                        <div style="position: absolute;right: 0;top: 0">
                            <input type="checkbox" style="padding:0;margin: 0">
                        </div>
                    </div>
                    
                    <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                        <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                        <div style="position: absolute;right: 0;top: 0">
                            <input type="checkbox" style="padding:0;margin: 0">
                        </div>
                    </div>
                    
                    <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                        <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                        <div style="position: absolute;right: 0;top: 0">
                            <input type="checkbox" style="padding:0;margin: 0">
                        </div>
                    </div>
                    
                    <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                        <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                        <div style="position: absolute;right: 0;top: 0">
                            <input type="checkbox" style="padding:0;margin: 0">
                        </div>
                    </div>
                    
                    <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                        <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                        <div style="position: absolute;right: 0;top: 0">
                            <input type="checkbox" style="padding:0;margin: 0">
                        </div>
                    </div>
                    
                    <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                        <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                        <div style="position: absolute;right: 0;top: 0">
                            <input type="checkbox" style="padding:0;margin: 0">
                        </div>
                    </div>
                    
                    <div style="display: inline-block;position: relative;padding: 7px;cursor: pointer" class="img_shadow_active">
                        <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                        <div style="position: absolute;right: 0;top: 0">
                            <input type="checkbox" style="padding:0;margin: 0">
                        </div>
                    </div>
                    
                    <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                        <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                        <div style="position: absolute;right: 0;top: 0">
                            <input type="checkbox" style="padding:0;margin: 0">
                        </div>
                    </div>
                    
                    <div style="display: inline-block;position: relative;margin: 7px;cursor: pointer" class="img_shadow">
                        <div style="background: url({{ STATIC_URL }}img/thumb.jpeg) center center;width: 60px;height: 60px;text-align: right" onclick="alert()"></div>
                        <div style="position: absolute;right: 0;top: 0">
                            <input type="checkbox" style="padding:0;margin: 0">
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        -->
        
        <div class="sixcol">
            
            <div style="background: #444;color: #fff;padding: 7px;">
                <table width="100%"><tr>
                <td>map 1</td>
                <td style="text-align: right">
                    <div class="marker"></div>
                    <div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 1px">google</div>
                    <div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 1px">osm</div>
                    <div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 1px">bing</div>
                    <div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 1px">yandex</div>
                    <img src="{{ STATIC_URL }}img/24_move.png" style="margin: 0 10px" id="map1_fullscreen">
                    <!-- <img src="{{ STATIC_URL }}img/24_edit.png"> -->
                </td>
                </tr></table>
            </div>
            
            <div style="background: #000;color: #fff;padding: 3px 7px;font-size: 12px"><b style="color: cyan">HBC00002.jpeg</b> Passatge Riu, 443, 07750 Serpentona, Балеарские о-ва, Испания</div>
            
            <div id="map_canvas" style="height: 350px"></div>
        </div>
        
        <div class="sixcol last">
            
            <div style="background: #444;color: #fff;padding: 7px;">
                <table width="100%"><tr>
                <td>map 2</td>
                <td style="text-align: right">
                    <div class="marker"></div>
                    <div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 1px">google</div>
                    <div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 1px">osm</div>
                    <div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 1px">bing</div>
                    <div class="button black" style="display: inline-block;padding: 5px 10px;margin: 0 1px">yandex</div>
                    <img src="{{ STATIC_URL }}img/24_move.png" style="margin: 0 10px" id="map2_fullscreen">
                    <!-- <img src="{{ STATIC_URL }}img/24_edit.png"> -->
                </td>
                </tr></table>
            </div>
            
            <div style="background: #000;color: #fff;padding: 3px 7px;font-size: 12px"><b style="color: cyan">HBC00002.jpeg</b> Passatge Riu, 443, 07750 Serpentona, Балеарские о-ва, Испания</div>
            
            <div id="map_canvas1" style="height: 350px"></div>
        </div>
        
    </div>
</div>

<!--
<div class="container">
    <div class="row">
        
        <div class="eightcol">
            <div style="height: 150px">
                <p class="p1">
                    
                    <div style="background: #444;color: #fff;padding: 7px;">
                        <table width="100%"><tr>
                        <td>Thumbnails</td>
                        </tr></table>
                    </div>
                    
                    <div style="border: 1px solid #444;padding: 5px;color: #fff;background: url(img/wild_oliva.png)">
                        <div style="display: inline-block;">
                            <img src="img/thumb.jpeg">
                        </div>
                        <div style="display: inline-block;">
                            <img src="img/thumb.jpeg">
                        </div>
                        <div style="display: inline-block;">
                            <img src="img/thumb.jpeg">
                        </div>
                    </div>
                    
                </p>
            </div>
        </div>
        
        <div class="fourcol last">
            <p class="p1">
                
                <div style="background: #444;color: #fff;padding: 7px;">
                    <table width="100%"><tr>
                    <td>Geo data</td>
                    </tr></table>
                </div>
                
            </p>
        </div>
        
    </div>
</div>
-->
<!--
<div class="container">
    <div class="row">
        <div class="twocol">
            <p class="p1">Two columns</p>
        </div>
        <div class="twocol">
            <p class="p1">Two columns</p>
        </div>
        <div class="twocol">
            <p class="p1">Two columns</p>
        </div>
        <div class="twocol">
            <p class="p1">Two columns</p>
        </div>
        <div class="twocol">
            <p class="p1">Two columns</p>
        </div>
        <div class="twocol last">
            <p class="p1">Two columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="threecol">
            <p class="p1">Three columns</p>
        </div>
        <div class="threecol">
            <p class="p1">Three columns</p>
        </div>
        <div class="threecol">
            <p class="p1">Three columns</p>
        </div>
        <div class="threecol last">
            <p class="p1">Three columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="fourcol">
            <p class="p1">Four columns</p>
        </div>
        <div class="fourcol">
            <p class="p1">Four columns</p>
        </div>
        <div class="fourcol last">
            <p class="p1">Four columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="onecol">
            <p class="p1">One</p>
        </div>
        <div class="elevencol last">
            <p class="p1">Eleven columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="twocol">
            <p class="p1">Two columns</p>
        </div>
        <div class="tencol last">
            <p class="p1">Ten columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="threecol">
            <p class="p1">Three columns</p>
        </div>
        <div class="ninecol last">
            <p class="p1">Nine columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="fourcol">
            <p class="p1">Four columns</p>
        </div>
        <div class="eightcol last">
            <p class="p1">Eight columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="fivecol">
            <p class="p1">Five columns</p>
        </div>
        <div class="sevencol last">
            <p class="p1">Seven columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="sixcol">
            <p class="p1">Six columns</p>
        </div>
        <div class="sixcol last">
            <p class="p1">Six columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="sevencol">
            <p class="p1">Seven columns</p>
        </div>
        <div class="fivecol last">
            <p class="p1">Five columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="eightcol">
            <p class="p1">Eight columns</p>
        </div>
        <div class="fourcol last">
            <p class="p1">Four columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="ninecol">
            <p class="p1">Nine columns</p>
        </div>
        <div class="threecol last">
            <p class="p1">Three columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="tencol">
            <p class="p1">Ten columns</p>
        </div>
        <div class="twocol last">
            <p class="p1">Two columns</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="elevencol">
            <p class="p1">Eleven columns</p>
        </div>
        <div class="onecol last">
            <p class="p1">One</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="threecol">
            <p class="p1">Three columns</p>
        </div>
        <div class="sixcol">
            <p class="p1">Six columns</p>
        </div>
        <div class="threecol last">
            <p class="p1">Three columns</p>
        </div>
    </div>
</div>
-->

<script type="text/javascript" src="{{ STATIC_URL }}js/pikaday.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/yajax.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>

<script type="text/javascript">

var geo = {
    
    opts: {
        'csrf_cookie': 'csrftoken'
    }
}

geo.helpers = {
    
    bindEvent: function(elem ,evt, callback)
    {
        if (elem.addEventListener)
        {
            elem.addEventListener(evt, callback, false)
        }
        else if (elem.attachEvent)
        {
            elem.attachEvent('on' + evt, function() {
                callback.call(event.srcElement,event)
            })
        }
    },
    readCookie: function(name)
    {
        var nameEQ = name + "="
        var ca = document.cookie.split(';')
        for (var i = 0; i < ca.length; i++)
        {
            var c = ca[i]
            while (c.charAt(0) == ' ') c = c.substring(1, c.length)
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length)
        }
        return null;
    },
    setCookie: function(name, value, props)
    {
        props = props || {}
        var exp = props.expires
        if (typeof exp == "number" && exp)
        {
            var d = new Date()
            d.setTime(d.getTime() + exp * 1000)
            exp = props.expires = d
        }
        if (exp && exp.toUTCString) { props.expires = exp.toUTCString() }
        
        value = encodeURIComponent(value)
        var updatedCookie = name + "=" + value
        for (var propName in props)
        {
            updatedCookie += "; " + propName
            var propValue = props[propName]
            if (propValue !== true) { updatedCookie += "=" + propValue }
        }
        document.cookie = updatedCookie
    }
}

geo.handleFileUpload = function(event)
{
    if (window.FormData && window.FileReader)
    {
        files = event.target.files
        //for (var i = 0, f ; f = files[i]; i++)
        //{
        
        var form = document.getElementById('form_upload')
        var content = new FormData(form)
        
        var xhr = new XMLHttpRequest()
        xhr.open('POST', '/api/upload/', true)
        xhr.onload = function(e) { alert('fine upload') }
        xhr.setRequestHeader("X-CSRFToken", geo.helpers.readCookie('csrftoken'))
        xhr.send(content)
        
            /*
            var headers = {"X-CSRFToken": geo.helpers.readCookie('csrftoken')}
            yajax.send({
                "method": "POST",
                "url": "/api/upload/",
                "data": content,
                "header": headers,
                "success": function(response) { alert(response) }
            })
            */
            
            //console.log(f)
            //alert(f.name)
            /*
            var reader = new FileReader()
            reader.onload = function(file)
            {
                console.log(file)
            }
            */
        //}
    }
    else
    {
        alert('You cannot upload files because of your browser old bones :)')
    }
}

geo.tabChange = function(id, box, other_id)
{
    var a, b, c
    // background: #444;color: #fff;padding: 7px;cursor: pointer
    // border: 1px solid #444;background: #222;border-bottom: 0;color: #fff;padding: 7px;cursor: pointer
    a = document.getElementById(id + '-data')
    document.getElementById(box).innerHTML = a.innerHTML
    _other_id = other_id.split(',')
    for (b = 0; b < _other_id.length; b++)
    {
        //document.getElementById(id).style.background = 'red'
        if (id == _other_id[b])
        {
            // active
            c = document.getElementById(id).style
            c.background = '#444'
            c.color = '#fff'
            c.padding = '7px'
            c.cursor = 'pointer'
        }
        else
        {
            c = document.getElementById(_other_id[b]).style
            c.border = '1px solid #444'
            c.background = '#222'
            c.borderBottom = '0'
            c.color = '#fff'
            c.padding = '7px'
            c.cursor = 'pointer'
        }
    }
}

geo.tabInit = function(switch_id, content_box)
{
    var self = this
    if (typeof switch_id == 'object')
    {
        var a
        
        document.getElementById('switch-content').innerHTML = document.getElementById(switch_id[0] + '-data').innerHTML
        
        for (var x in switch_id)
        {
            a = document.getElementById(switch_id[x])
            if (a)
            {
                self.helpers.bindEvent(a, 'click', new Function("geo.tabChange(\'"+switch_id[x]+"\', \'"+content_box+"\', \'"+switch_id+"\')"))
            }
        }
    }
}

geo.init = function()
{
    // csrf cookie set before launch
    a = this.helpers.readCookie()
    if (a == null || a == '') this.helpers.setCookie(this.opts.csrf_cookie, '{{ csrf_token }}')
    // logout button
    var btn_logout = document.getElementById('btn-logout')
    this.helpers.bindEvent(btn_logout, 'click', function() {window.location.href="/account/logout"})
    // upload button
    var btn_upload = document.getElementById('btn_upload')
    this.helpers.bindEvent(btn_upload, 'click', function() { document.getElementById('file_upload').click() })
    // upload hidden input field
    var file_upload = document.getElementById('file_upload')
    this.helpers.bindEvent(file_upload, 'change', this.handleFileUpload)
    // generate report
    var report = document.getElementById('report')
    this.helpers.bindEvent(report, 'click', function() {alert('generate report menu')})
    // project edit
    this.helpers.bindEvent(document.getElementById('edit_project'), 'click', function() {alert('project manager')})
    // map1 fullscreen mode
    this.helpers.bindEvent(document.getElementById('map1_fullscreen'), 'click', function() {alert('fullscreen map1')})
    // map2 fullscreen mode
    this.helpers.bindEvent(document.getElementById('map2_fullscreen'), 'click', function() {alert('fullscreen map2')})
    
    var map, map1
    
    var mapOptions = {
        zoom: 8,
        center: new google.maps.LatLng(-34.397, 150.644),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    
    map  = new google.maps.Map(document.getElementById('map_canvas1'), mapOptions)
    map1 = new google.maps.Map(document.getElementById('map_canvas'), mapOptions)
    
    this.tabInit(['switch-tab-1', 'switch-tab-2'], 'switch-content')
    
    var opts = {
        lines: 13, // The number of lines to draw
        length: 15, // The length of each line
        width: 7, // The line thickness
        radius: 19, // The radius of the inner circle
        corners: 1, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        color: '#fff', // #rgb or #rrggbb
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: true, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        className: 'spinner', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: 'auto', // Top position relative to parent in px
        left: 'auto' // Left position relative to parent in px
    };
    var target = document.getElementById('prime_image');
    var spinner = new Spinner(opts).spin(target);
    
    // datepicker
    //var picker = new Pikaday({ field: document.getElementById('datepicker') });
    //var picker1 = new Pikaday({ field: document.getElementById('datepicker1') });
}

</script>

</body>

</html>
