<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>geophoto</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/1140-2.css" type="text/css" media="screen" />
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pikaday.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css" type="text/css" media="screen" />
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'> -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
    <!--[if IE]><script src="excanvas.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
    <style>
        .thmb {padding: 5px;display: inline-block}
        .logo-font {font-family: 'Racing Sans One', cursive;font-size: 28px;letter-spacing: -1px;text-align: left}
    </style>
    
</head>

<body>

<div style="background: #222;color: #f0f0f0;padding: 5px;border-bottom: 1px solid #404040">
    
    <div>
        <div class="container">
            <div class="row">
                
                <div class="threecol">
                    <div class="logo-font">geo-photo.net</div>
                </div>
                
                <div class="ninecol last" style="text-align: right;">
                    
                    <input type="text" class="inp_date" style="margin: 0 10px;width: 70px" value="login" id="lgn"><input type="password" class="inp_date" value="password" id="pwd" style="width: 70px;margin:0;margin-right: 10px">
                    
                    <div class="button green" style="padding: 5px 30px;margin: 0" id="btn_login" onclick="geo.login()">
                        OK
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    
</div>

<div style="background: url({{ STATIC_URL }}img/ste.png);color: #f0f0f0;padding: 30px;border-bottom: 1px solid #404040;text-align: center;position: relative;margin-bottom: 30px">
    
    <div style="height: 370px;">
        <div id="chaptersMap" style="padding-top: 10px">&nbsp;</div>
    </div>
    
    <div style="position: absolute;left: 0;top: 50px">
        <!-- <div style="width: 74px;font-size: 12px;margin-bottom: 12px"><b>Login via:</b></div> -->
        <div style="background: url({{ STATIC_URL }}img/google.png) center center no-repeat #000;" onclick="Sitis.google_auth()" class="oauth-left"></div>
        <div style="background: url({{ STATIC_URL }}img/facebook.png) center center no-repeat #245dc1;" onclick="Sitis.facebook_auth()" class="oauth-left"></div>
        <div style="background: url({{ STATIC_URL }}img/twitter.png) center center no-repeat #bf1813;" onclick="Sitis.twitter_auth()" class="oauth-left"></div>
    </div>
    
<div>
    
    <div class="container">
        <div class="row">
            
            <div class="ninecol">
            <!-- <h2 style="padding-bottom: 10px">Recently uploaded:</h2> -->
            <div id="thumbs" style="background: url({{ STATIC_URL }}img/ste.png);text-align: left">
                
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                <div class="thmb"><img src="{{ STATIC_URL }}img/12345.jpg"></div>
                
            </div>
            </div>
            
            <!--
            <div class="fivecol">
            <div style="padding: 10px">
                <img src="{{ STATIC_URL }}img/123456.jpg" class="img_shadow">
            </div>
            </div>
            -->
            
            <!--
            <div class="sixcol" style="text-align: center;background: url({{ STATIC_URL }}img/ste.png);margin-top: 30px">
            <div style="padding: 20px;border: 1px solid #404040">
                <img src="{{ STATIC_URL }}img/123456.jpg" class="img_shadow">
            </div>
            </div>
            -->
            
            <div class="threecol last" style="text-align: right">
            <div>
                
                <div>
                    
                    <div>
                        
                        <!--
                        <div>
                            <div style="display: inline-block">login</div>
                            <input type="text" class="inp_date" maxlength="20" id="lgn">
                        </div>
                        
                        <div>
                            <div style="display: inline-block">password</div>
                            <input type="text" class="inp_date" maxlength="20" id="pwd">
                        </div>
                        
                        <div class="button green" style="" id="btn_login">
                            OK
                        </div>
                        -->
                        
                        
                        
                        <!--
                        <div style="position: absolute;top: -30px;left: 10px;background: #222;padding: 10px">Login via</div>
                        -->
                        
                    </div>
                    
                </div>
                
                    <div style="text-align: right;width: 100%">
                    <div style="display: inline-block;width: 220px">
                    <div style="text-align: left;position: relative;">
                        
                        <div style="text-align: left;margin-bottom: 10px"><h2>Register:</h2></div>
                        
                        <div>
                            <div>login <span style="color: #AFE01B;font-size: 10px">(4 - 20)</span></div>
                            <input type="text" class="inp_date" maxlength="20" id="reg_lgn" style="width: 70%">
                        </div>
                        
                        <div>
                            <div>email</div>
                            <input type="text" class="inp_date" maxlength="100" id="reg_email" style="width: 70%">
                        </div>
                        
                        <div>
                            <div>password <span style="color: #AFE01B;font-size: 10px">(4 - 20)</span></div>
                            <input type="password" class="inp_date" maxlength="20" id="reg_pwd" style="width: 70%">
                        </div>
                        
                        <div>
                            <div>confirm password</div>
                            <input type="password" class="inp_date" maxlength="20" id="reg_pwd_confirm" style="width: 70%">
                        </div>
                        
                        <div>
                            <div id="cptch"></div>
                        </div>
                        
                        <div class="button green" style="margin: 10px 0;text-align: right" id="btn_register" onclick="Sitis.check_sign_up()">
                            Sign up
                        </div>
                        
                    </div>
                    </div>
                    </div>
                    
            </div>
            </div>
            
        </div>
    </div>
</div>

</div>

<div style="color: #f0f0f0;padding: 80px;background: #333">12312312</div>

<script type="text/javascript">

var geo = {
    
    opts: {
        'csrf_cookie': 'csrftoken'
    }
    
}

geo.login = function()
{
    var lgn = document.getElementById('lgn').value
    var pwd = document.getElementById('pwd').value
    var headers = {"X-CSRFToken": geo.helpers.readCookie('csrftoken')}
    yajax.send({
        "method": "POST",
        "url": "/account/login/",
        "data": {"lgn": encodeURIComponent(lgn), "pwd": encodeURIComponent(hex_md5(pwd))},
        "header": headers,
        "success": function(response)
        {
            if (response == '1') { window.location.reload(); } else if (response == '2') { alert('Account is not activated. Check your email.') } else { alert('wrong password or login'); }
        }
    })
}

geo.helpers = {
    
    bindEvent: function(elem ,evt, callback)
    {
        if (elem.addEventListener)
        {
            elem.addEventListener(evt, callback, false)
        }
        else if (elem.attachEvent)
        {
            elem.attachEvent('on' + evt, function() {
                callback.call(event.srcElement,event)
            })
        }
    },
    readCookie: function(name)
    {
        var nameEQ = name + "="
        var ca = document.cookie.split(';')
        for (var i = 0; i < ca.length; i++)
        {
            var c = ca[i]
            while (c.charAt(0) == ' ') c = c.substring(1, c.length)
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length)
        }
        return null
    },
    setCookie: function(name, value, props)
    {
        props = props || {}
        var exp = props.expires
        if (typeof exp == "number" && exp)
        {
            var d = new Date()
            d.setTime(d.getTime() + exp * 1000)
            exp = props.expires = d
        }
        if (exp && exp.toUTCString) { props.expires = exp.toUTCString() }
        
        value = encodeURIComponent(value)
        var updatedCookie = name + "=" + value;
        for (var propName in props)
        {
            updatedCookie += "; " + propName
            var propValue = props[propName]
            if (propValue !== true) { updatedCookie += "=" + propValue }
        }
        document.cookie = updatedCookie
    }
}

geo.init = function()
{
    var a
    // check csrf token exist
    //alert(this.helpers.readCookie('csrf_token'))
    a = geo.helpers.readCookie()
    if (a == null || a == '') geo.helpers.setCookie(geo.opts.csrf_cookie, '{{ csrf_token }}')
    document.onkeypress = function(e) { if (!e) e = window.event; if ( e.keyCode == 13 ) {  geo.login(); return false; }}
    var btn_login = document.getElementById('btn_login')
    //geo.helpers.bindEvent(btn_login, 'click', geo.login)
}

document.body.onload = geo.init

</script>

<script type="text/javascript" src="{{STATIC_URL}}js/intro.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/yajax.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/md5.js"></script>
        
        <script src="{{STATIC_URL}}js/raphael.js"></script>
        <script src="{{STATIC_URL}}js/scale-raphael.js"></script>
        <script src="{{STATIC_URL}}js/world.js"></script>
        <script>
          // var map =  Raphael(10, 10, 1000, 400, function () {
          
                function viewport()
                {
                    var e = window, a = 'inner'
                    if ( !( 'innerWidth' in window ) )
                    {
                        a = 'client'
                        e = document.documentElement || document.body
                    }
                    return { width : e[ a+'Width' ] , height : e[ a+'Height' ] }
                }
          
          
                var paper = ScaleRaphael('chaptersMap', 1000, 370)
                //alert(window.offsetWidth)
                function resizePaper()
                {
                    paper.changeSize(viewport().width - 50, 370, true, false)
                }
                
                resizePaper()
                window.onresize = resizePaper
                
                var over = function () {
                    this.c = this.c || this.attr("fill")
                    this.stop().animate({fill: "#ff0000"}, 100)
                },
                out = function ()
                {
                    this.stop().animate({fill: this.c}, 500)
                }
                paper.setStart()
                var hue = Math.random()
                for (var country in worldmap.shapes)
                {
                    // var c = Raphael.hsb(Math.random(), .5, .75);
                    // var c = Raphael.hsb(.11, .5, Math.random() * .25 - .25 + .75);
                    paper.path(worldmap.shapes[country]).attr({stroke: "#ccc6ae", fill: "#f0efeb", "stroke-opacity": 0.25});
                }
                var world = paper.setFinish();
                world.hover(over, out);
                // world.animate({fill: "#666", stroke: "#666"}, 2000);
                world.getXY = function (lat, lon) {
                    return {
                        cx: lon * 2.6938 + 465.4,
                        cy: lat * -2.6938 + 227.066
                    };
                };
                world.getLatLon = function (x, y) {
                    return {
                        lat: (y - 227.066) / -2.6938,
                        lon: (x - 465.4) / 2.6938
                    };
                };
                var latlonrg = /(\d+(?:\.\d+)?)[\xb0\s]?\s*(?:(\d+(?:\.\d+)?)['\u2019\u2032\s])?\s*(?:(\d+(?:\.\d+)?)["\u201d\u2033\s])?\s*([SNEW])?/i;
                world.parseLatLon = function (latlon) {
                    var m = String(latlon).split(latlonrg),
                        lat = m && +m[1] + (m[2] || 0) / 60 + (m[3] || 0) / 3600;
                    if (m[4].toUpperCase() == "S") {
                        lat = -lat;
                    }
                    var lon = m && +m[6] + (m[7] || 0) / 60 + (m[8] || 0) / 3600;
                    if (m[9].toUpperCase() == "W") {
                        lon = -lon;
                    }
                    return this.getXY(lat, lon);
                };

                try {
                    navigator.geolocation && navigator.geolocation.getCurrentPosition(function (pos) {
                        paper.circle().attr({fill: "none", stroke: "#f00", r: 5}).attr(world.getXY(pos.coords.latitude, pos.coords.longitude));
                    });
                } catch (e) {}
                var frm = document.getElementById("latlon-form"),
                    dot = paper.circle().attr({fill: "r#FE7727:50-#F57124:100", stroke: "#fff", "stroke-width": 2, r: 0}),
                    // dot2 = r.circle().attr({stroke: "#000", r: 0}),
                    ll = document.getElementById("latlon"),
                    cities = document.getElementById("cities");
                
                /*
                frm.onsubmit = function () {
                    var attr = world.parseLatLon(ll.value);
                    attr.r = 0;
                    dot.stop().attr(attr).animate({r: 5}, 1000, "elastic");
                    // dot2.stop().attr(attr).animate({r: 10}, 1000, "elastic");
                    return false;
                };
                */
                
                /*
                cities.onclick = function (e) {
                    e = e || window.event;
                    var target = e.target || e.srcElement || document;
                    if (target.tagName == "A") {
                        var txt = decodeURIComponent(target.href.substring(target.href.indexOf("#") + 1)),
                            attr = world.parseLatLon(txt);
                        ll.value = txt;
                        attr.r = 0;
                        dot.stop().attr(attr).animate({r: 5}, 1000, "elastic");
                        // dot2.stop().attr(attr).animate({r: 10}, 1000, "elastic");
                        return false;
                    }
                };
                */
                
           // });
        </script>


</body>

</html>
